
.menu {
    
    text-align: center;
    display: flex;
    flex-direction:row;
    height: 8em;
    margin-top: 4em;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;    
    justify-content: space-between;
    margin-left: -15%;
    transition: all;
    transition-duration: .5s;

}
.menu:hover {
    margin-left: 0;
}
.menu a {
    font-size: 9pt;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    outline-style: none;
    color: white;
    padding: 10px;
    transition: all;
    transition-duration: 1s;
    background-color: #071f5f;
    border: 1px solid rgb(213, 213, 213);
    box-shadow:   0 0 3px 3px  #071f5f;
   

    
}


.menu a:hover {
    
    background-color: #a3c4ef;
    width: 100%;
    color: black;
    border: 1px solid #fff;
    box-shadow:  0 0 3px 1px  #544027;
    box-shadow: 0 0 10px 5px;
    

    
  
   
}

/* FOCUSED STATE */
.menu a:focus  {
  
    font-weight: 900;
    box-shadow:  inset 0 0 10px 5px  #071f5f;
    background-color: #a3c4ef;
    color: #544027;
    
  
 
  
    
}


