.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 0 2em;
    align-items: center;
}

.message {
    border: 2px solid black;
    margin: 0;
    padding: 1em;
}
